{
 :web-server {:http {:port 8090}}
 :spa {:title "clj-service demo"
       ;:spinner "webly/loading.svg"
       ;:icon "webly/icon/pinkgorilla32.png" ; "webly/icon/silver.ico"  ; gorilla is much smaller than silver
       ;:loading-image-url "webly/loadimage/library.jpg" ; 
      :mount-fn router.app/mount}
 
 :reitit {:wrap demo.app/wrap-webly}

}