{:name "clj-service"
 :lazy false
 ; build
 :cljs-namespace [goldly.service.core]
 :cljs-ns-bindings {'goldly.service.core {'clj goldly.service.core/clj
                                          'clj-atom goldly.service.core/clj-atom
                                          'run-cb goldly.service.core/run-cb ; depreciate ??
                                          }}
 ; run
  :api-routes {"clj-service"  {; clj-service allows requests via http post
                              :post goldly.service.handler/service-handler-wrapped}}
; 
}
